
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-tools:before { content: '\e803'; } /* '' */
.icon-left:before { content: '\e804'; } /* '' */
.icon-right:before { content: '\e805'; } /* '' */
.icon-down:before { content: '\e806'; } /* '' */
.icon-up:before { content: '\e807'; } /* '' */
.icon-down-dir:before { content: '\e808'; } /* '' */
.icon-left-dir:before { content: '\e809'; } /* '' */
.icon-right-dir:before { content: '\e80a'; } /* '' */
.icon-up-dir:before { content: '\e80b'; } /* '' */
.icon-play:before { content: '\e80c'; } /* '' */
.icon-stop:before { content: '\e80d'; } /* '' */
.icon-pause:before { content: '\e80e'; } /* '' */
.icon-to-end:before { content: '\e80f'; } /* '' */
.icon-to-start:before { content: '\e810'; } /* '' */
.icon-fast-forward:before { content: '\e811'; } /* '' */
.icon-fast-backward:before { content: '\e812'; } /* '' */
.icon-install:before { content: '\e813'; } /* '' */
.icon-globe:before { content: '\e814'; } /* '' */
.icon-droplet:before { content: '\e815'; } /* '' */
.icon-floppy:before { content: '\e816'; } /* '' */
.icon-database:before { content: '\e817'; } /* '' */
.icon-th-list:before { content: '\e818'; } /* '' */
.icon-ok-outline:before { content: '\e819'; } /* '' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e81b'; } /* '' */
.icon-home:before { content: '\e81c'; } /* '' */
.icon-lock-open-filled:before { content: '\e81d'; } /* '' */
.icon-lock-filled:before { content: '\e81e'; } /* '' */
.icon-block:before { content: '\e81f'; } /* '' */
.icon-picture:before { content: '\e820'; } /* '' */
.icon-cancel:before { content: '\e821'; } /* '' */
.icon-plus:before { content: '\e822'; } /* '' */
.icon-minus:before { content: '\e823'; } /* '' */
.icon-lock:before { content: '\e824'; } /* '' */
.icon-lock-open:before { content: '\e825'; } /* '' */
.icon-edit:before { content: '\e826'; } /* '' */
.icon-export:before { content: '\e827'; } /* '' */
.icon-eye:before { content: '\e828'; } /* '' */
.icon-eye-off:before { content: '\e829'; } /* '' */
.icon-pin:before { content: '\e82a'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */